<nav mat-tab-nav-bar class="flex flex-row items-start justify-start app-navbar-header" mat-stretch-tabs="false"
    mat-align-tabs="start" [tabPanel]="tabPanel">
    @for (router of routerList; track router.path) {
    <a [routerLink]="router.path" mat-tab-link>{{ router.name }}</a>
    }

    <span class="flex-1"></span>

    <app-theme-switch-icon></app-theme-switch-icon>

    <a routerLink="/" class="pr-4">
        <app-icon-button icon="home"></app-icon-button>
    </a>

    <app-icon-button icon="account_circle" (click)="showChangePasswordDialog()"></app-icon-button>

    <app-icon-button icon="logout" (click)="logout()"></app-icon-button>
</nav>

<mat-tab-nav-panel #tabPanel>
    <router-outlet></router-outlet>
</mat-tab-nav-panel>