<nav class="flex flex-row items-center justify-start app-navbar-header pl-4 pr-4 pb-2 pt-1">
    <app-icon-button icon="home" (click)="switchProgressBar()"></app-icon-button>

    <span class="flex-1"></span>

    <app-icon-button icon="check" (click)="showConfirmDialog()"></app-icon-button>

    <app-theme-switch-icon></app-theme-switch-icon>

    <app-icon-button icon="notifications" (click)="showToast()"></app-icon-button>

    <a routerLink="./admin">
        <app-icon-button icon="menu"></app-icon-button>
    </a>
</nav>